In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
df = pd.read_csv('/home/sahil/Documents/AvyshCodeAndData/Data Population - Main2.csv')

In [4]:
df.head()

,Sr No,Sellers ID,Seller Name,Seller Level,Seller class,Seller team member name,Seller team member number,Bill Date,Bill Time,Bill No.,...,Buyer Team member number,Category,Product,SKU,Brand,Unit Cost,Qty,Discount,Value,Unnamed: 27
0,1,111,Darshita Electornics,Platinum,L1,Agnes Griffin,8926868497,11/10/2019,12:16:24,abc001de,...,9583450160,C1,P1C1,ENMBK611,Nokia,158511,17,8,2479112.04,NaN
1,2,112,Jaliyan Sales,Platinum,L1,Ross Benninger,8973032438,10/07/2019,9:29:35,abc002de,...,9561301960,C1,P2C1,EAMGD111,Acer,78855,10,13,686038.50,NaN
2,3,113,Galaxy World,Silver,L1,Marilyn White,9259906003,02/19/2019,10:58:38,abc003de,...,9515213631,C1,P3C1,ENMBL711,Nokia,222233,3,9,606696.09,NaN
3,4,114,Megs_tronics,Silver,L1,Justin Hitt,9490391325,11/13/2019,14:32:10,abc004de,...,9543895215,C1,P4C1,EMMPK333,Mi,176735,3,10,477184.50,NaN
4,5,115,Visions India,Silver,L1,Tawana Schweitzer,9224797722,02/07/2019,14:08:43,abc005de,...,9525747749,C1,P5C1,EMSRD222,Mi,216229,25,8,4973267.00,NaN

In [5]:
#Code to remove the spaces in the column names and replace space with '_'
df.columns = [c.replace(' ', '_') for c in df.columns]

In [6]:
#Looking only at the data of france
basket = (df.groupby(['Sellers_ID', 'SKU'])['Qty']
          .sum().unstack().reset_index().fillna(0)
          .set_index('Sellers_ID'))

In [7]:
basket

SKU,AACBK069,AACSL918,AACWH193,ABCRD341,AJSRD213,ALCYL999,ALTRD456,AMTYL451,APCOR123,ATCBL179,...,ZHNSR694,ZHPYL045,ZHPYL236,ZVBSR679,ZVGBK001,ZVGBK741,ZVGBL015,ZVNSR693,ZVPSR668,ZVPSR669
Sellers_ID,,,,,,,,,,,,,,,,,,,,,
111,0.0,16.0,4.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0,...,0.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
247,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
250,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,0.0,0.0

In [8]:
# Show a subset of columns
basket.iloc[:,[0,1,2,3,4,5,6, 7]].head()

SKU,AACBK069,AACSL918,AACWH193,ABCRD341,AJSRD213,ALCYL999,ALTRD456,AMTYL451
Sellers_ID,,,,,,,,
111,0.0,16.0,4.0,0.0,0.0,0.0,14.0,0.0
112,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
114,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Convert the units to 1 hot encoded values
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

In [10]:
basket_sets = basket.applymap(encode_units)
#applymap is apply a function to the dataframe element wise

In [11]:
basket_sets.head()

SKU,AACBK069,AACSL918,AACWH193,ABCRD341,AJSRD213,ALCYL999,ALTRD456,AMTYL451,APCOR123,ATCBL179,...,ZHNSR694,ZHPYL045,ZHPYL236,ZVBSR679,ZVGBK001,ZVGBK741,ZVGBL015,ZVNSR693,ZVPSR668,ZVPSR669
Sellers_ID,,,,,,,,,,,,,,,,,,,,,
111,0,1,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
112,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
113,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
114,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# Build up the frequent items
frequent_itemsets = apriori(basket_sets, min_support=0.02, use_colnames=True)

In [13]:
frequent_itemsets.head()

    support    itemsets
0  0.028571  (AACBK069)
1  0.021429  (AACSL918)
2  0.021429  (AACWH193)
3  0.028571  (AJSRD213)
4  0.028571  (ALCYL999)

In [14]:
# Create the rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(DAMWH142),(RKTBR324),0.035714,0.042857,0.021429,0.60,14.000000,0.019898,2.392857
1,(RKTBR324),(DAMWH142),0.042857,0.035714,0.021429,0.50,14.000000,0.019898,1.928571
2,(DAMWH142),(RTSBR325),0.035714,0.042857,0.021429,0.60,14.000000,0.019898,2.392857
3,(RTSBR325),(DAMWH142),0.042857,0.035714,0.021429,0.50,14.000000,0.019898,1.928571
4,(ENMBK611),(EAMGD111),0.035714,0.035714,0.021429,0.60,16.800000,0.020153,2.410714
5,(EAMGD111),(ENMBK611),0.035714,0.035714,0.021429,0.60,16.800000,0.020153,2.410714
6,(FNSYL344),(WTMRD185),0.035714,0.028571,0.021429,0.60,21.000000,0.020408,2.428571
7,(WTMRD185),(FNSYL344),0.028571,0.035714,0.021429,0.75,21.000000,0.020408,3.857143
8,(ONSCR223),(OPBBR224),0.042857,0.042857,0.021429,0.50,11.666667,0.019592,1.914286
9,(OPBBR224),(ONSCR223),0.042857,0.042857,0.021429,0.50,11.666667,0.019592,1.914286
10,(RKCBL322),(RRWBR323),0.042857,0.042857,0.021429,0.50,11.666667,0.019592,1.914286
11,(RRWBR323),(RKCBL322),0.042857,0.042857,0.021429,0.50,11.666667,0.019592,1.914286
12,(RKTBR324),(RTSBR325),0.042857,0.042857,0.021429,0.50,11.666667,0.019592,1.914286
13,(RTSBR325),(RKTBR324),0.042857,0.042857,0.021429,0.50,11.666667,0.019592,1.914286
14,"(DAMWH142, RKTBR324)",(RTSBR325),0.021429,0.042857,0.021429,1.00,23.333333,0.020510,inf
15,"(DAMWH142, RTSBR325)",(RKTBR324),0.021429,0.042857,0.021429,1.00,23.333333,0.020510,inf
16,"(RKTBR324, RTSBR325)",(DAMWH142),0.021429,0.035714,0.021429,1.00,28.000000,0.020663,inf
17,(DAMWH142),"(RKTBR324, RTSBR325)",0.035714,0.021429,0.021429,0.60,28.000000,0.020663,2.446429
18,(RKTBR324),"(DAMWH142, RTSBR325)",0.042857,0.021429,0.021429,0.50,23.333333,0.020510,1.957143
19,(RTSBR325),"(DAMWH142, RKTBR324)",0.042857,0.021429,0.021429,0.50,23.333333,0.020510,1.957143

In [15]:
rules[ (rules['lift'] >= 6) &
       (rules['confidence'] >= 0.4) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(DAMWH142),(RKTBR324),0.035714,0.042857,0.021429,0.60,14.000000,0.019898,2.392857
1,(RKTBR324),(DAMWH142),0.042857,0.035714,0.021429,0.50,14.000000,0.019898,1.928571
2,(DAMWH142),(RTSBR325),0.035714,0.042857,0.021429,0.60,14.000000,0.019898,2.392857
3,(RTSBR325),(DAMWH142),0.042857,0.035714,0.021429,0.50,14.000000,0.019898,1.928571
4,(ENMBK611),(EAMGD111),0.035714,0.035714,0.021429,0.60,16.800000,0.020153,2.410714
5,(EAMGD111),(ENMBK611),0.035714,0.035714,0.021429,0.60,16.800000,0.020153,2.410714
6,(FNSYL344),(WTMRD185),0.035714,0.028571,0.021429,0.60,21.000000,0.020408,2.428571
7,(WTMRD185),(FNSYL344),0.028571,0.035714,0.021429,0.75,21.000000,0.020408,3.857143
8,(ONSCR223),(OPBBR224),0.042857,0.042857,0.021429,0.50,11.666667,0.019592,1.914286
9,(OPBBR224),(ONSCR223),0.042857,0.042857,0.021429,0.50,11.666667,0.019592,1.914286
10,(RKCBL322),(RRWBR323),0.042857,0.042857,0.021429,0.50,11.666667,0.019592,1.914286
11,(RRWBR323),(RKCBL322),0.042857,0.042857,0.021429,0.50,11.666667,0.019592,1.914286
12,(RKTBR324),(RTSBR325),0.042857,0.042857,0.021429,0.50,11.666667,0.019592,1.914286
13,(RTSBR325),(RKTBR324),0.042857,0.042857,0.021429,0.50,11.666667,0.019592,1.914286
14,"(DAMWH142, RKTBR324)",(RTSBR325),0.021429,0.042857,0.021429,1.00,23.333333,0.020510,inf
15,"(DAMWH142, RTSBR325)",(RKTBR324),0.021429,0.042857,0.021429,1.00,23.333333,0.020510,inf
16,"(RKTBR324, RTSBR325)",(DAMWH142),0.021429,0.035714,0.021429,1.00,28.000000,0.020663,inf
17,(DAMWH142),"(RKTBR324, RTSBR325)",0.035714,0.021429,0.021429,0.60,28.000000,0.020663,2.446429
18,(RKTBR324),"(DAMWH142, RTSBR325)",0.042857,0.021429,0.021429,0.50,23.333333,0.020510,1.957143
19,(RTSBR325),"(DAMWH142, RKTBR324)",0.042857,0.021429,0.021429,0.50,23.333333,0.020510,1.957143

In [20]:
basket['WTMRD185'].sum()

94.0

In [19]:
basket['FNSYL344'].sum()

55.0

In [21]:
#we can see that we sell 94 SKU WTMRD185 product but only 55 SKU FNSYL344 product so maybe we can drive more SKU FNSYL344 product sales through recommendations.